body{
    margin: 0;
    padding:0;
}


header{
    background-color:#1890ff;
    height: 200px;
}

.all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-74{
    font-size: 74px;
}

.ft-16{
    font-size: 16px;
}

.title-container{
    display: flex;
    width: 940px;
    height:120px;
}

.title-left{
    width: 740px;
    display: flex;
    flex-direction: column;
}

.title-right{
    width: calc(940px - 740px);
}

.cl-white{
    color: #fff;
}

.cl-grey{
    color: #ccc;
}

.title_img{
    width: 200px;
    height: 80px;
    padding-top: 20px;
}

main{
    width: 50%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    display: flex;
}

.cl-blue{
    color: #1890ff;
}

.main-left{
    width: 70%;
    padding-right: 20px;
    border-right: 2px solid #ccc;
}

.main-right{
    width: 30%;
}

.article-title{
    font-size: 24px;
    font-weight: 700;
}

.article-out{
    margin: 0 0 20px 0;
}

.article-contain{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical;
    text-indent: 25px;
}

.main-right .nav{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.img-out{
    margin-top: 20px;
    width: 200px;
    height: 80px;
    position: relative;
}

.img-out .title-text{
    position: absolute;
    right: 30px;
    top: 0;
    padding: 20px 0;
}

.title-text div:nth-child(1){
    color: #fff;
}
.title-text div:nth-child(2){
    padding-top: 5px;
    color: #fff;
}

.ft-12{
    font-size: 12px;
}