body{
    margin: 0;
    padding:0;
}

.head{
    height: 80px;
    width: 100vw;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    height: calc(100vh - 160px);
    background-color: gold;
    width: 100vw;
}

.footer{
    height: 80px;
    background-color: salmon;
    width: 100vw;
}

.wrap{
    position: relative;
    height: 100vh;
}

.content{
    position: absolute;
}



.show-first{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.show-first p:nth-child(1){
    text-align: right;
}

.show-first p:nth-child(2){
    text-align: right;
    animation:fadeAndOut 2s linear infinite;
}

@keyframes fadeAndOut{
    from{opacity: 1;}
    to{opacity: 0;}
}

.all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content:nth-child(2){
    transition: all 2s linear;
}

@keyframes toUp {
    from{top: 0;}
    to{top:-100vh};
}



.show-text{
    width: 300px;
}

.cl-white{
    color: #fff;
}

.cl-gold{
    color: gold;
}

.ft-28{
    font-size: 28px;
}

.ft-16{
    font-size: 16px;
}

.btn{
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: 4;
    background-color: #1890ff;
    border-radius: 10px;
    right: 50px;
    bottom: 180px;
    transition: opacity 2s linear;
}

.btn:hover{
    animation-name: shake;/*名字*/
    animation-duration: 0.5s;/*持续时间*/
    animation-timing-function: linear;/*执行速度*/
    animation-iteration-count: infinite;/*执行次数*/
    animation-direction:alternate-reverse;/*反复反转*/
}

@keyframes shake{
    from{transform: rotate(0deg);}
    to{transform: rotate(-15deg);}
}

.rotate-font{
    transition: transform 2s linear;
}

.rotating-ball{
    width: 150px;
    height:150px;
    border-radius: 50%;
    background-color:#1890ff;
    transform: rotate3d(100px,100px,100px,65deg);
}


/*3d图外侧*/
.boxOuter{
    width: 1000px;
    perspective: 2000px;
}

/*正方体容器*/
.box{
    width: 400px;
    height:400px;
    transform-style: preserve-3d;
    transition: all 2s;
    position: relative;
    animation-name: cubeRotate;/*名字*/
    animation-duration: 5s;/*持续时间*/
    animation-iteration-count: 1;/*次数是一直*/
    animation-timing-function: linear;/*速度*/
    animation-delay: 4s;
}

@keyframes cubeRotate{
    from{transform: rotateY(0deg) rotateX(0deg);}
    to{transform: rotateY(180deg) rotateX(180deg);}
}


/*正方体*/
.box>div{
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    position: absolute;
    opacity: 0.6;
}

.box1 {
    background-color: tomato;
    /* 最上面的板， */
    transform: translateZ(100px);
}

.box2 {
    transform: rotateX(-90deg) translateZ(100px);
    background-color: springgreen;
}

.box3 {
    background-color: rgb(71, 44, 39);
    transform: translateZ(-100px);
}

.box4 {
    transform: rotateX(-90deg) translateZ(-100px);
    background-color: rgb(58, 31, 94);
}

.box5 {
    background-color: rgb(71, 44, 39);
    transform: rotateY(-90deg) translateZ(100px);
}

.box6 {
    transform: rotateY(-90deg) translateZ(-100px);
    background-color: rgb(58, 31, 94);
}

.bottom-text{
    position: relative;
    transition: transform 2s linear;
    animation-name: rotaryMovement;/*动画名字*/
    animation-duration: 2s;/*速度*/
    animation-delay: 8s;/*延迟*/
    animation-iteration-count: 1;/*次数*/
    animation-timing-function: linear;/*速度*/
}